* {
    margin: 0;
    padding: 0;
    color: white;
}

.header { grid-area: header; background-color: black; }
.aside { grid-area: aside; background-color: orange; }
.nav { grid-area: nav; background-color: lightcoral; }
.main { grid-area: main; background-color: lightgray; }
.footer { grid-area: footer; background-color: black; }

.grid-container {
    background-color: pink;
    display: grid;
    height: 100%;
    grid-template-areas: 
    "header header header"
    "aside nav nav"
    "aside main main"
    "footer footer footer";
    gap: 10px;
}

.grid-container > div {
    border: 2px solid black;
    text-align: center;
    

}